.banner {
    padding-top:120px;  
    &__img {
        display: flex;  
        background-repeat: no-repeat;
        background-size: auto 578px;
        @media (max-width: 1060px) {
            flex-wrap: wrap;
        }
    }
    &__photo {
        min-width: 644px;
        flex-shrink: 0;
        height: 578px;
    }
    &__text {
        width: 50%;
        flex-shrink: 1;
        min-width: 270px;
        box-sizing: border-box;
        padding-top:120px;
        @media (max-width: 1110px) {
            padding:20px 5px 0;
            text-align: center;
        }
        @media (max-width: 1060px) {
            width: 100%;
            padding: 25px 15px 0;
        }
    }
    &__btn {
        margin-top: 50px;
    }
}