.numbers {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: start;
        @media(max-width: 720px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width: 375px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-inline-start: 0;
    }
    &__title {
        font-family: Raleway;
        font-weight: 500;
        font-size: 58px;
        line-height: 58px;
        color: #10b582;
        text-align: center;
        margin: 0;
        padding-bottom: 15px;
    }
    &__desc {
        font-family: Raleway;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
        color: #353A5A;
        margin: 0;
    }
}