/** БАЗОВЫЕ ФУНКЦИИ **/
@import "_mixins.scss";

/** ОСНОВНЫЕ СТИЛИ **/
body {
	margin: 0;
	&.lock {
		overflow: hidden;
	}
	&::-webkit-scrollbar {
		width: 0;
	}
}
h1 {
	font-family: Raleway;	
	font-weight: 500;
	font-size: 58px;
	line-height: 69.6px;
	color: #FDFDFD;
	@media(max-width: 1190px) {
		font-size: 36px;
		line-height: 40px;
	}
}
h2 {
	font-family: Raleway;
	font-weight: 500;
	font-size: 58px;
	line-height: 58px;
	color: #FDFDFD;
	margin: 0;
	@media(max-width: 1600px) {
		font-size: 44px;
		line-height: 44px;		
	}
	@media(max-width: 420px) {
		font-size: 30px;
		line-height: 30px;		
	}
}

h3 {
	font-family: Raleway;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #FDFDFD;
	margin: 0;
}

a {
	font-family: Raleway;	
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #FDFDFD;
	margin: 0;
}
p {
	font-family: Raleway;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FDFDFD;
}
li {
	list-style: none;
}
.secColor {
	color: #353A5A;
}
.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	&__header {
		flex: 1 0 100%;
		background-color:#10B582;
		min-height: 300px;
	}
	&__numbers {
		padding: 400px 0 600px;
		@media(max-width: 720px) {
			padding: 200px 0 300px;
		}
	}
	&__format {
		margin-left: -175px;
	}
	&__courses {
		padding-top: 383px;
	}
	&__banner {
		padding-top: 120px;
	}
	&__footer {
		padding-top: 120px;
	}
}
.container {
	max-width: 1170px;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	&--big{
		max-width: 1380px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

/** ПОДКЛЮЧАЕМЫЕ БЛОКИ **/
@import "header.scss";
@import "../blocks/top-menu/top-menu.scss";
@import "../blocks/social/social.scss";
@import "../blocks/link-home/_link-home.scss";
@import "btn.scss";
@import "numbers.scss";
@import "teachers.scss";
@import "format.scss";
@import "courses.scss";
@import "banner.scss";
@import "footer.scss";
